<div class="container " style="width: 18rem;">
  <div class="row">
    <div class="col-md">
    <input #showConnectionStatus type="checkbox" id="showConnectionStatus" (change)="0" checked />
  </div>
  <div class="col-md">
    <label for="showConnectionStatus" class="text-muted">Show Connection Status</label>
    </div>
  </div>

  <div class="row" *ngIf="showConnectionStatus.checked">
    <div class="col-md">
      <div id="status">
        <div id="indicator" class="{{connectionStatus$|async}}"></div>
      </div>
    </div>
    <div class="col-md">
      <span id="status-label">{{connectionStatus$|async}}</span>
    </div>
  </div>
</div>
<div class="container">
  <div *ngIf="receivedFiles.length > 0">
    <div class="card" style="width: 18rem;" *ngFor="let file of receivedFiles">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{ file.body }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div *ngIf="receivedFiles.length === 0" class="container">
    <div class="card" style="width: 18rem;">
      <!-- <img src="..." class="bd-placeholder-img" alt="..."> -->
      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
          cap</text>
      </svg>
      <div class="card-body">
        <p class="card-text">{{ noFilesRecievedMessage }}</p>
      </div>
    </div>
  </div>
